.setWidth {
  width: 400px;
}

.imagebox {
  width: 300px;
  height: 300px;
}

.imagebox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartBox {
  width: 300px;
  height: 300px;
}

.cartBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cartTotalBox {
  width: 300px;
  height: 200px;
}

.logoHead {
  width: 60px;
  height: 40px;
}
.addimageBox {
  width: 200px;
  height: 200px;
}

.addimageBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
